
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: #191919;
    color: #ccc;
    font-family: "Noto Sans", "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto Slab", sans-serif;
    margin: 0;
}

a {
    color: #aaa;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 0.2em;
    z-index: 999;
    background: #4f7186;
    border-bottom: 2px solid #999;
    box-shadow: #000 0 0.5em 1em;
    color: #eee;
}

header nav {
    display: flex;
    gap: 0.5em;
    margin: 0.25em;
    justify-content: center;
}

header nav a, aside a, button {
    appearance: none;
    display: inline-block;
    background: #324653;
    padding: 0.2em 0;
    color: #eee;
    text-decoration: none;
    text-align: center;
    border: none;
    font-size: 1em;
    border-radius: 1em;
    font-family: "Noto Sans", "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    min-width: 140px;
    cursor: pointer;
}
header nav a:hover, aside a:hover, button:hover {
    text-decoration: none;
    background: #38505f;
}

button:disabled {
    text-decoration: none;
    background: #424242;
    cursor: default;
}

main {
    flex: 1 0 auto;
    width: 50em;
    margin: auto;
    padding-top: 6em;
    padding-left: 13em;
    padding-right: 1em;
}

footer {
    flex-shrink: 0;
    background: #2a3a44;
    text-align: center;
    padding: 0.7em;
    margin-top: 1em;
}

section {
    position: relative;
}

aside {
    position: absolute;
    left: -13em;
    width: 10em;
}

aside.flex {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
aside.flex button, aside.flex a {
    width: 100%;
}

.separator {
    display: inline-block;
    width: 2em;
}

.hidden {
    display: none;
}

.columns {
    columns: 4;
}

.changes_saved {
    color: #555;
}
.changes_saved.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}

textarea, input[type=text], input[type=search], input[type=number] {
    background: #111;
    color: #eee;
    border-radius: 0.5em;
    border: solid 2px #444;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1em;
    padding: 0;
    padding-block: 0.1em;
    padding-inline: 0.2em;
    min-width: 25em;
    width: calc(100% - 0.6em);
}
textarea {
    min-height: 8em;
}

textarea.invalid, input[type=text].invalid, input[type=search].invalid, input[type=number].invalid {
    background: #100;
    border-color: #722;
    color: #ccc;
}
div.ss-main.invalid {
    --ss-bg-color: #100;
    --ss-border-color: #722;
    --ss-font-color: #ccc;
}

#main_search {
    max-width: 60em;
    margin: auto;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.validation_error {
    color: #f77;
}

table.edit_properties {
    border-spacing: 0.5em 0.1em;
}
table.edit_properties th {
    text-align: right;
    line-height: 1.7em;
}

.va_top {
    vertical-align: top;
}

select.slimselect {
    display: none;
}

.sortable_dragging input {
    opacity: 0.1;
}
.sortable_ghost input {
    opacity: 0.7;
}

.sortable_row {
    padding: 0.1em;
    display: flex;
    gap: 0.5em;
    align-items: center;
}
.sortable_row input {
    margin-top: auto;
    margin-bottom: auto;
}
.sort_handle {
    cursor: grab;
}
.icon {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'liga';
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
}
.sortable_row div {
    flex: 1 1 100%;
}
.sortable_row .icon {
    flex: 0 0 2em;
}

.sortable_row div.additional_name {
    flex: 2 1 100%;
}
.sortable_row div.additional_name_validation {
    flex: 1 2 100%;
}

.sortable_row div.mfr_relation_kind {
    flex: 0 0 12em;
}
.sortable_row div.mfr_relation_other {
    flex: 1 1 100%;
}
.sortable_row div.mfr_relation_year {
    flex: 0 0 6em;
}
.sortable_row div.mfr_relation_validation {
    flex: 1 1 100%;
}
